<div class="form-group">
  <label for="breed">Breed</lable>
  <input type="text"
    class="form-control"
    name="breed"
    value="<%= animal.breed %>">
</div>
<div class="form-group">
  <label for="family">Family</lable>
  <input type="text"
    class="form-control"
    name="family"
    value="<%= animal.family %>">
</div>
<div class="form-group">
  <label for="name">Name</lable>
  <input type="text"
    class="form-control"
    name="name"
    value="<%= animal.name %>">
</div>
<div class="form-group">
  <label for="gender">Gender(M/F)</lable>
  <input type="text"
    class="form-control"
    name="gender"
    value="<%= animal.gender %>">
</div>
<div class="form-group">
  <label for="dob">DOB(mm/dd/yyyy)</lable>
  <input type="text"
    class="form-control"
    name="dob"
    value="<%= animal.dob %>">
</div>
